<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <link rel="stylesheet" href="styles_home.css">

    <header>
        <center>
            <b>
                <h1>
                    CALCULADORA DE IMPUESTOS
                </h1>
            </b>
        </center>
    </header>

    <section>

        <form action="index.php" method="POST">
                <h2>Ingrese los datos</h2>

                <label for="cedula">Cédula / Documento de Identidad: </label>

                <input type="number" name="cedula" id="DNI" required>

                <br>

                <label for="salario">Total de ingresos laborales por año: </label>

                <input type="number" name="salary" id="annual_labor_income" required>

                <br>

                <label for="salario_graval"> Total de otros ingresos gravables por año: </label>

                <input type="number" name="graval_salary" id="annual_graval_salary" required>

                <br>

                <label for="salario_no_graval"> Total de otros ingresos no gravables por año: </label>

                <input type="number" name="no_graval_salary" id="annul_no_graval_salary" required>

                <br>

                <label for="Withholding tax"> Valor  de retención en la fuente por año: </label>

                <input type="number" name="withholding_tax" id="annual_withholding_tax" required>

                <br>

                <label for="mortgage loan payment"> Valor de pago de crédito hipotecario por año: </label>

                <input type="number" name="mortgage_loan_payment" id="annual_mortgage_loan_payment" required>

                <br>

                <label for = "donations"> Valor de donaciones por año: </label>

                <input type="number" name="donations" id="annual_donations" required>

                <br>

                <label for="education expenses"> Valor de gastos en educacion por año: </label>

                <input type="number" name="education_expenses" id="annual_education_expenses" required>

                <br>
                    <div>
                        <input type="submit" value="Calcular">

                        <input type="reset" value="Limpiar">

                        <input type="submit" value="Guardar">

                        <input type="submit" value="Buscar por Cédula">

                    </div>
               
    </section>

</body>
</html>