<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_home.css') }}">

    <script>
        // Función para verificar si todos los campos del primer formulario están llenos
        function validarCampos() {
            var campos = document.querySelectorAll('#formIngresarDatos input[type="number"]');
            var botonGuardar = document.getElementById('guardarButton');

            var todosLlenos = true;
            campos.forEach(function(campo) {
                if (campo.value === '') {
                    todosLlenos = false;
                }
            });

            // Habilitar o deshabilitar el botón según el estado de los campos
            botonGuardar.disabled = !todosLlenos;
        }

        // Añadir el evento 'DOMContentLoaded' para asegurar que el DOM esté completamente cargado antes de añadir los event listeners
        document.addEventListener('DOMContentLoaded', function() {
            var campos = document.querySelectorAll('#formIngresarDatos input[type="number"]');
            campos.forEach(function(campo) {
                campo.addEventListener('input', validarCampos);
            });
        });

        // Abrir el popup del boton guardar
        function abrirDialogoGuardar(event) {
            event.preventDefault();  // Prevenir el comportamiento predeterminado del botón
            document.getElementById('PopupGuardar').showModal();
        }
      
        // Cerrar el Popup de boton guardar
        function cerrarDialogoGuardar() {
            document.getElementById('PopupGuardar').close();
        }

        // Agregar un parametro si yo estoy calculando guardado el impuesto
        function setSaveTax(value) {
            document.getElementById('save_tax_param').value = value;
        }

        // Funcion para ejecutar diferentes rutas dependiendo del boton
        function setFormAction(action) {
            var form = document.getElementById('formBuscarEliminar');
            form.action = action;
        }

    </script>
</head>
<body>
    <header>
        <center>
            <b>
                <h1>CALCULADORA DE IMPUESTOS</h1>
            </b>
        </center>
    </header>

    <section>
        <!-- Form para obtener los datos de la declaracion de impuesto y guardarlo -->

        <form id="formIngresarDatos" action="/result_tax">
            <h2>Ingrese los datos</h2>

            <label for="cedula">Cédula / Documento de Identidad: </label>
            <input type="number" name="cedula" id="DNI" required value="{{ tax['cedula'] if tax else '' }}">
    
            <label for="salario">Total de ingresos laborales por año: </label>
            <input type="number" name="salary" id="annual_labor_income" required value="{{ tax['salario'] if tax else '' }}">
    
            <label for="salario_graval"> Total de otros ingresos gravables por año: </label>
            <input type="number" name="graval_salary" id="annual_graval_salary" required value="{{ tax['salarioGravable'] if tax else '' }}">
    
            <label for="salario_no_graval"> Total de otros ingresos no gravables por año: </label>
            <input type="number" name="no_graval_salary" id="annual_no_graval_salary" required value="{{ tax['salarioNoGravable'] if tax else '' }}">
    
            <label for="Withholding tax"> Valor de retención en la fuente por año: </label>
            <input type="number" name="withholding_tax" id="annual_withholding_tax" required value="{{ tax['retencionFuente']if tax else '' }}">
    
            <label for="mortgage loan payment"> Valor de pago de crédito hipotecario por año: </label>
            <input type="number" name="mortgage_loan_payment" id="annual_mortgage_loan_payment" required value="{{ tax['pagoHipotecario'] if tax else '' }}">
    
            <label for="donations"> Valor de donaciones por año: </label>
            <input type="number" name="donations" id="annual_donations" required value="{{ tax['donaciones'] if tax else '' }}">
    
            <label for="education expenses"> Valor de gastos en educacion por año: </label>
            <input type="number" name="education_expenses" id="annual_education_expenses" required value="{{ tax['gastosEducacion'] if tax else '' }}">

            <input type="hidden" name="save_tax" id="save_tax_param">

            <div class="buttons">
                <input type="submit" value="Calcular" onclick="setSaveTax(false)">
                <input type="reset" value="Limpiar" type="reset">
                <button id="guardarButton" onclick="setSaveTax(true); abrirDialogoGuardar(event)" disabled>Guardar y Calcular</button>

                <dialog id="PopupGuardar">
                    <h2>Guardado Exitoso</h2>
                    <br>
                    <button onclick="cerrarDialogoGuardar()">Cerrar</button>
                </dialog>
            </div>
        </form>

        <!-- Form para obtener la cedula de la persona y disparar el boton Buscar y Eliminar -->
        <form id="formBuscarEliminar">
            <h2>Buscar por Cédula</h2>
            <label for="cedula">Cédula / Documento de Identidad: </label>
            <input type="number" name="cedula" id="DNIBuscarEliminar" required>
            <div class="buttons">
                <button type="submit" onclick="setFormAction('/result_research')">Buscar</button>
                <button type="submit" onclick="setFormAction('/delete_cedula')">Eliminar</button>
            </div>
        </form>

    </section>
    
</body>
</html>

